.img2{
    image-rendering: auto;
    display: block;
    margin-right: auto;
    margin-left: auto;
    background-position: right;
    background-position: left;
}
.hdn{
    text-align: center;
    background-color: cyan;
    font-style: italic;

}
.btn1{
    text-align: left;
}
/* *{
    background-color: black;
} */
.mask{
    
    
    
}
.btns{
    position: fixed;
    padding: 30px 0;

}